{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>narratica</title><link rel="shortcut icon" href="{% static "form/icon.png" %}">
</head>
<body>
  <form action="" method="post" style="width:33vw;">
    <img src="{% static "form/narratica_logo.png" %}" style="width:50%;">
    <br/>
    {% csrf_token %}
    <table>
      {{form1.as_table}}
      <tr><td colspan='2'><input type="submit" value="Submit"></td></tr>
    </table>
  </form>
</body>
</html>
